.userInfo {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  @media screen and (max-width: 470px) {
    flex-direction: column;
  }
  .userInfo__photo {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    margin: 0 10px;
  }
  .userInfo__name {
    width: 20%;
    margin: 0 10px;
    @media screen and (max-width: 830px) {
      width: 80%;
      margin: 10px 10px;
    }
    @media screen and (max-width: 470px) {
      width: auto;
    }
  }
}
