.chatList__wrapper {
  display: block;
  width: 30%;
  //height: 100vh;
  background-color: #f6f6f6;
  box-sizing: border-box;
  @media screen and (max-width: 830px) {
    width: 100%;
  }
  .chatList__title {
    font-size: 30px;
    margin: 10px 10px 20px 20px;
    color: #5f5bff;
  }
  .chatList__list {
    display: block;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 10px 20px;
    box-sizing: border-box;
  }
  .searchWrapper {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 10px 0 20px 20px;
    background-color: #dedede;
    label {
      display: block;
      position: relative;
      .searchWrapper__input {
        display: block;
        position: relative;
        overflow: hidden;
        padding: 5px 0 5px 35px;
        border-radius: 20px;
        width: 80%;
        @media screen and (max-width: 830px) {
          width: 90%;
        }
        @media screen and (max-width: 400px) {
          width: 70%;
        }
      }
      .searchWrapper__img {
        width: 13px;
        height: 13px;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        left: 10px;
      }
    }
  }
}
.chatList__wrapper_mobile {
  @media screen and (max-width: 830px) {
    display: none;
  }
}
