body {
  margin: 0;

  .container {
    display: block;
    position: relative;
    background-color: #dedede;
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    padding: 30px;
  }
}
